*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
   transition: .2s linear;
}


.header {
    background: #E6CB55;
    color: rgb(9, 9, 9);
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 160px;
    display: flex;
    
 }
 .header .titulo {
    margin:auto;
    text-align: center;
    color: #451d22;
 }
 .pethouse{
   font-size: 50px;
   margin-left: 750px;
 }
 
 .header a {
    color: #b9a1a4;
    text-decoration: none;
 }
 .logo{
   margin-right: 680px;
 }
 input:checked + nav {
    width: 110%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    background-color:#b39a86ab;
    transform: translateY(0);
    position:absolute;
    margin-top: 100px;
    font-size: 20px;
   }
   .botonhamburquesa{
      font-size: 38px;
      margin: 20px;
    
    
 }
  
  label {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 10px;
    right: 10px;
    z-index: 1;

  }
  input {
     position: absolute;
     top: 15px;
     right: 30px;
     width: 40px;
     height: 20px;
     display: none;
     z-index: 2;
  }
  nav {
   position: absolute;
   transform: translateY(-100%);
   transition: all 1000ms ease-in-out;
   display:none ;
   left: 0;
   height: 45px;
   
 }
 .container-nav {
   display: flex;
   justify-content: right;
  
}
 .navigation ul {
    margin: 0;
    padding: 0;
    list-style:none;
    
 }
 .navigation ul li {
    display: inline-block;
    letter-spacing: 0, 40px;
    margin: 3px;
 }
 
 .navigation ul li a {
    display: block;
    padding-left: 0, 2rem, 1rem;
    transition: all 0.4s linear;
    color: #451d22  ;
 }
 .navigation ul li a:hover {
    background:#dbd9d2; 
 
    }
    .imagen-total{
      margin-top: 200px;
      width: 100%;
      height: 980px;
      position: relative;
      margin-bottom: 100px;
      
   }

   .imagen-total img{
       width: 100%;
       object-fit: cover;
       height: 100%;
      
   }
   .quienessomos{
       position: absolute;
       margin-top:50px ;
       margin-left: 400px;
       width: 80%;
       padding: 20px;
       height: 400px;
       vertical-align: middle;
       display: flex;
       
   }
   